/VerilogIDE/nbproject/private/
/AntlrGrammer/nbproject/private/
/AntlrGrammer/build/
/VerilogIDE/build/
/VerilogFileType/build/
/VerilogProjectType/build/
/VerilogIDE/BrandingModule/build/
VerilogFileType/nbproject/private/private.xml
VerilogIDE/BrandingModule/nbproject/private/private.xml
VerilogProjectType/nbproject/private/private.xml
VerilogFileType/nbproject/genfiles.properties
VerilogFileType/nbproject/genfiles.properties